<!-- This line loads base.html which is present on every page -->
{% extends "base.html" %}

<!-- Actual Page Content -->
{% block content %}
    <div class="container py-5">
        <!-- Spacers -->
        <div class="col-xs-12" style="height:50px;"></div>
        <div class="col-xs-12" style="height:50px;"></div>
        <div class="col-xs-12" style="height:50px;"></div>
        <!-- 500 -->
        <div class="row">
            <div class="col-md-12 text-center">
                <span class="display-1">500</span>
                <div class="mb-3 lead">
                    <p>Something went wrong on our end.<br>Don’t worry, it’s not you - it’s us. Sorry about that.</p>
                </div>
                <a href="/" class="btn btn-warning">Take me Home</a>
            </div>
        </div>
    </div>
{% endblock %}