<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="shortcut icon" href="/static/images/favicon.ico">
	
    <!-- Title is passed to render template -->
    <title>{% block title %}{% if title %}{{ title }}{% else %}Welcome to HawkAir!{% endif %}{% endblock %}</title>
    
    <!-- Bootstrap CSS -->
	<link rel="stylesheet" type='text/css' href="/static/css/bootstrap.min.css">
    
    <!-- Custom CSS -->
	<link rel="stylesheet" type='text/css' href="/static/css/main.css"/>
    <link rel="stylesheet" type='text/css' href="/static/css/cards.css"/>
    <link rel="stylesheet" type='text/css' href="/static/css/funkyradio.css"/>
    
    <!-- FontAwesome Icons -->
	<script src="/static/js/fontawesome.js"></script>
    
    <!-- Optional JavaScript -->
	<script src="/static/js/jquery-3.4.1.slim.min.js"></script>
	<script src="/static/js/popper.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	
</head>

<!-- Body -->
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark" id="header" style="background-color: #262626;">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/static/images/logo.svg" width="220" height="60">
            </a>
            <nav class="nav nav-pills">
                <div class="navbar-nav">
                    <a class="nav-item nav-link {% if index %}active{% endif %}" href="/"><i class="fas fa-home"></i> Home </a>
                    <a class="nav-item nav-link {% if aboutus %}active{% endif %}" href="/about-us"><i class="far fa-question-circle"></i> About Us </a>
                    <a class="nav-item nav-link {% if contactus %}active{% endif %}" href="/contact-us"><i class="far fa-id-card"></i> Contact Us </a>
                    {% if "username" in session: %}
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle {% if dashboard %}active{% endif %}" data-toggle="dropdown"><i class="fas fa-user"></i> My Account </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="/dashboard"><i class="fas fa-columns"></i> Dashboard </a>
                                <a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt"></i> Logout </a>
                            </div>
                        </div>
                    {% else %}
                        <a class="nav-item nav-link {% if login %}active{% endif %}" href="/login"><i class="fas fa-user"></i> Login / Register </a>
                    {% endif %}
                </div>
            </nav>
        </div>
    </nav>
    
    <!-- Page Content-->
	{% block content %}
	{% endblock %}
    
    <!-- Footer -->
    <footer class="footer py-5" id="footer">
        <div class="container text-center text-md-left">
            <div class="row justify-content-md-center"> 
                <!-- General -->
                <div class="col-md-2">
                    <h6><a id="footerHeading">General</a></h6>
                    <hr class="mt-0 mb-3 d-inline-block mx-auto" id="footerLine" style="width: 55px;">
                    <p><a id="footerText" href="/">Home</a></p>
                    <p><a id="footerText" href="/about-us">About Us</a></p>
                    <p><a id="footerText" href="/contact-us">Contact Us</a></p>
                </div>

                <!-- Advanced -->
                <div class="col-md-2">
                    <h6><a id="footerHeading">Advanced</a></h6>
                    <hr class="mt-0 mb-3 d-inline-block mx-auto" id="footerLine" style="width: 70px;">
                    <p><a id="footerText" href="/multicity">Multi-City</a></p>
                    <p><a id="footerText" href="/#your-trip" onClick="(function(){window.open('/#your-trip', '_self');location.reload();})();">Your Trip</a></p>
                    <p><a id="footerText" href="/#flight-status-date" onClick="(function(){window.open('/#flight-status-date', '_self');location.reload();})();">Flight Status</a></p>
                </div>

                <!-- More -->
                <div class="col-md-2">
                    <h6><a id="footerHeading">More</a></h6>
                    <hr class="mt-0 mb-3 d-inline-block mx-auto" id="footerLine" style="width: 38px;">
                    <p><a id="footerText" href="/admin">Admin</a></p>
                    <p><a id="footerText" href="https://uiowa.edu/" target="_blank">University of Iowa</a></p>
                    <p><a id="footerText" href="https://myui.uiowa.edu/my-ui/courses/details.page?id=902210&ci=158672" target="_blank">Course Page</a></p>
                </div>
                
                <!-- Our Address -->
                <div class="col-md-2">
                    <h6><a id="footerHeading">Our Address</a></h6>
                    <hr class="mt-0 mb-3 d-inline-block mx-auto" id="footerLine" style="width: 90px;">
                    <p id="footerAddress">
                        <strong>{{ contact.Company }}</strong>
                        <br>
                        {{ contact.Street }}
                        <br>
                        {{ contact.City }}, {{ contact.State }} {{ contact.ZipCode }}
                        <br>
                        {{ contact.Country }}
                    </p>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- Copyright -->
    <footer class="footer" id="copyright">
        <div class="container">
            <div class="text-center py-3">Copyright © 2020 <strong>HawkAir</strong></div>
        </div>
    </footer>
    
    <!-- Depress buttons after being clicked -->
    <script>
        $(".btn").mouseup(function() {
          $(this).blur();
        })
    </script>
    
    <!-- Autoclose alerts after 10 seconds -->
    <script>
        $(document).ready(function() {
            setTimeout(function() {
                $(".alert").alert('close');
            }, 10000);
        });
    </script>
    
    <!-- Deep linking pills-->
    <script>
        $(document).ready(() => {
            let url = location.href.replace(/\/$/, "");
            
            if (location.hash) {
                const hash = url.split("#");
                $('#myPill a[href="#' + hash[1] + '"]').tab("show");
                url = location.href.replace(/\/#/, "#");
                history.replaceState(null, null, url);
                setTimeout(() => {
                    $(window).scrollTop(0);
                }, 400);
            } 
            
            $('a[data-toggle="tab"]').on("click", function() {
                let newUrl;
                const hash = $(this).attr("href");
                if (hash == "#home") {
                    newUrl = url.split("#")[0];
                } else {
                    newUrl = url.split("#")[0] + hash;
                }
                history.replaceState(null, null, newUrl);
            });
        });
    </script>
    
    <!-- Keep the current tab active on page reload -->
    <script>
        $(function() {
            $('a[data-toggle="tab"]').on('click', function(e) {
                window.localStorage.setItem('activeTab', $(e.target).attr('href'));
            });
            var activeTab = window.localStorage.getItem('activeTab');
            if (activeTab) {
                $('#myPill a[href="' + activeTab + '"]').tab('show');
                window.localStorage.removeItem("activeTab");
            }
        });
    </script>
</body>

</html>