<!-- This line loads base.html which is present on every page -->
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

<!-- Page Content -->
{% block content %}
    <div class="container py-5">
        <!-- History and Our Goals -->
        <div class="row">
            <div class="col-md-8">
                <h3>Contact Us</h3>
                <p style="text-align:justify">Currently, Hawk Air only offers support over the counter and telephone. 
                    If you have any questions or concerns regarding your flight reservation, please contact us by calling <a href="tel:{{ contact.Phone }}">{{ contact.Phone }}</a> 
                    or visit one of our local branches. We are here to help!
                </p>
                <p style="text-align:justify">You can also fill out a contact form and leave us a message. We will try to get back to you soon as possible. 
                    Due to limited number of workers and huge demand for flying tickets, we usually respond in 2-3 business days to your inquiry. 
                    If you have an urgent matter, please call us or see us in person by visiting our local office.
                </p>
            </div>
            <div class="col-md-4">
                <img class="mx-auto" src="/static/images/support.png" width="350" height="250"/>
            </div>
        </div>
        
        <!-- Flash Messages Here -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="row">
                        <div class="col-md-8">
                            <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                                {{message}}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        <!-- Contact Form -->
        <div class="row align-items-center pt-1">
            <div class="col-md-8">
                <form method="POST">
                    <h3>Contact Form</h3>
                    <p>Please use the following form to contact us:</p>
                    {{ form.hidden_tag() }}
                    <div class="row">
                        <div class="form-group col-md-6">
                            {{ wtf.form_field(form.firstName, class='form-control', placeholder='') }}
                        </div>
                        <div class="form-group col-md-6">
                            {{ wtf.form_field(form.lastName, class='form-control', placeholder='') }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            {{ wtf.form_field(form.email, class='form-control', placeholder='') }}
                        </div>
                        <div class="form-group col-md-6">
                            {{ wtf.form_field(form.subject, class='form-control', placeholder='') }}
                        </div>
                    </div>
                    {{ wtf.form_field(form.message, class='form-control', plzaceholder='') }}
                    {{ wtf.form_field(form.submit, class='form-control btn-warning my-4', placeholder='') }}
                </form>
            </div>
            
            <!-- Our Office-->
            <div class="col-md-4 text-center">
                <h3>Our Office</h3>
                <p><strong>{{ contact.Company }}</strong>
                    <br>
                    {{ contact.Street }}
                    <br>
                    {{ contact.City }}, {{ contact.State }} {{ contact.ZipCode }}
                    <br>
                    {{ contact.Country }}
                </p>
            </div> 
        </div>
    </div>
{% endblock %}