<!-- This line loads base.html which is present on every page -->
{% extends "base.html" %}

<!-- Page Content -->
{% block content %}
    <div class="container py-5">
        <!-- Dashboard -->
        <h3>Welcome, {{ info.FirstName }}!</h3>
        <hr>
        <div class="row">
            <div class="col-md-8">
                {% if trips %}
                    <h5>Here is a list of your flights:</h5>
                {% else %}
                    <h5>You currently don't have any purchased flighs. Click <a href="/">here</a> to buy a flight!</h5>
                {% endif %}
            </div>
        </div>
        
        <!-- Flights list -->
        {% for key, value in trips.items() %}
            <div class="row">
                <div class="col-md-8">
                    <h4><span class="badge badge-warning mt-1 mb-2">Booking ID: {{ key }}</span></h4>
                    {% for v in value %}
                    <div class="card">
                        <h5 class="card-header">Flight {{ loop.index }}</h5>
                        <table class="table" style="table-layout: fixed;">
                            <tr>
                                <th>From</th>
                                <th>To</th>
                                <th>Departure Time</th>
                                <th>Duration</th>
                            </tr>
                            <tr>
                                <td>{{ v[0] }}</td>
                                <td>{{ v[1] }}</td>
                                <td>{{ v[2] }}</td>
                                <td>{{ v[3] }}</td>
                            </tr>
                            <tr>
                                <th>Flight Number</th>
                                <th>Aircraft</th>
                                <th>Class</th>
                                <th>Seat</th>
                            </tr>
                            <tr>
                                <td>{{ v[4] }}</td>
                                <td>{{ v[5] }}</td>
                                <td>{{ v[6] }}</td>
                                <td>{{ v[7] }}</td>
                            </tr>
                        </table>
                        <div class="card-footer text-right">
                            <a href="#" class="btn btn-warning btn-sm px-3">Change</a>
                            <a href="#" class="btn btn-danger btn-sm px-3">Cancel</a>
                        </div>
                    </div>
                    <p>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}        
    </div>
{% endblock %}