<!-- This line loads base.html which is present on every page -->
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

<!-- Page Content -->
{% block content %}
    <div class="container py-5">
        <!-- Register Form -->
        <div class="row justify-content-md-center pb-3">
            <div class="col-md-8">
                <form method="POST">
                    <h3 class="text-center">Register</h3>
                    <p class="text-center">Please use the following form to create an account!<br>Required fields are marked with *</p>
                    {{ form.hidden_tag() }}
                    <div class="row">
                        <div class="form-group col-md-4">
                            {{ wtf.form_field(form.title, class='form-control', placeholder='') }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            {{ wtf.form_field(form.firstName, class='form-control', placeholder='') }}
                        </div>
                        <div class="form-group col-md-4">
                            {{ wtf.form_field(form.middleName, class='form-control', placeholder='') }}
                        </div>
                        <div class="form-group col-md-4">
                            {{ wtf.form_field(form.lastName, class='form-control', placeholder='') }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            {{ wtf.form_field(form.preferredName, class='form-control', placeholder='') }}
                        </div>
                        <div class="form-group col-md-4">
                            {{ wtf.form_field(form.dateOfBirth, class='form-control', placeholder='') }}
                        </div>
                        <div class="form-group col-md-4">
                            {{ wtf.form_field(form.sex, class='form-control', placeholder='') }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-8">
                            {{ wtf.form_field(form.street, class='form-control', placeholder='') }}
                        </div>
                        <div class="form-group col-md-4">
                            {{ wtf.form_field(form.city, class='form-control', placeholder='') }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            {{ wtf.form_field(form.zipCode, class='form-control', placeholder='') }}
                        </div>
                        <div class="form-group col-md-4">
                            {{ wtf.form_field(form.state, class='form-control', placeholder='') }}
                        </div>
                        <div class="form-group col-md-4">
                            {{ wtf.form_field(form.country, class='form-control', placeholder='') }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-8">
                            {{ wtf.form_field(form.email, class='form-control', placeholder='') }}
                        </div>
                        <div class="form-group col-md-4">
                            {{ wtf.form_field(form.phone, class='form-control', placeholder='') }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            {{ wtf.form_field(form.username, class='form-control', placeholder='') }}
                        </div>
                        <div class="form-group col-md-4">
                            {{ wtf.form_field(form.password, class='form-control', placeholder='') }}
                        </div>
                        <div class="form-group col-md-4">
                            {{ wtf.form_field(form.repeatPassword, class='form-control', placeholder='') }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-8">
                            {{ wtf.form_field(form.securityQuestion, class='form-control', placeholder='') }}
                        </div>
                        <div class="form-group col-md-4">
                            {{ wtf.form_field(form.securityAnswer, class='form-control', placeholder='') }}
                        </div>
                    </div>
                    {{ wtf.form_field(form.submit, class='form-control btn-warning my-2', placeholder='') }}
                    <input type="hidden" name="next" value="{{ request.args.get('next', '') }}"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}